<ion-view view-title="Chemistry">
  <ion-nav-title>
    <div class="padding">
      <img height="30px" src="img/logo.png">
    </div>
    </ion-nav-title>
<ion-pane ng-controller="CardsCtrl"  >
  <td-cards>
    <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
          on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
          on-partial-swipe="cardPartialSwipe(amt)">

              <div class="image">
                <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Yes</div></div>
                  <div class="no-text overlayBox"><div class="noBox boxed">No</div></div>
                  <img ng-src="{{card.picture.large}}">

              </div>
              <div class="buttondesc">
                <div class="username"><i class="icon ion-android-contact"></i>
                  <!-- {{card.login.username}} -->
                  {{card.name.first}} {{card.name.last}}
                </div>
                <button ng-click="noCard()" class="button button-assertive">No</button>
                <button ng-click="yesCard()" class="button button-balanced">Yes</button>
              </div>
              <div class="row">
                <div class="profile">
                  <div class="description">
                    <h1>Bio</h1>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                  </div>
                  <div class="contact">
                    <h1>Email</h1>
                    <p>"{{card.picture.large}}"</p>
                  </div>
                  <div class="skills">
                    <h1>Skills</h1>
                    <p>PHP, PHP, PHP, PHP, PHP</p>
                  </div>
                </div>
              </div>
    </td-card>
  </td-cards>
</ion-pane>
</ion-view>
